.message-input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    textarea{
        width: 60%;
        height: 50px;
    }
    button {
        width: 5%;
        margin-left: 30px;
    }
}