.own-message {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    margin: 20px;
    width: 80%;
    margin-left: auto;
    padding: 10px;
    .controls {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        margin-left: auto;
        margin-right: 50px;
        height: 30px;
        button {
            width: 50px;
            margin-right: 10px;
        }
    }
}

.message-edit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    textarea{
        width: 60%;
        height: 50px;
    }
}